<section
  class="mt-10 flex m-auto relative max-w-lg max-h-9 rounded-md"
  style="width: fit-content;"
>
  <div
    class="flex flex-col items-center justify-center h-screen text-blue p-16 rounded-corners"
    style="height: fit-content;"
  >
   
    <h2 id="title" class="text-6xl text-black">Event Title</h2>

   
    <div id="date&Time" class="m-2 text-2xl text-black text-left">
      <h3>Date and time</h3>
    </div>
     <div id="location" class="m-2 text-2xl text-black text-left">
      <h3>Date and time</h3>
    </div>
   
    <div id="description" class="boxbg rounded-corners m-2 p-10 object-fill">
      <p>Event Description Here</p>
    </div>
   
    <div class="boxbg rounded-corners m-2 p-10">
      <h3>RSVP:</h3>
      <p id="rsvp"></p>
    </div>
    <div id="emailContainer"></div>
  </div>
</section>
</script>